---
import "astro-feelback/styles/feelback.css";
import FeelbackTaggedMessage from "astro-feelback/components/FeelbackTaggedMessage.astro";
---

<div class="container mx-auto py-3 sm:py-6 px-3 sm:px-6 grid justify-items-center">
  <FeelbackTaggedMessage
    contentSetId="1781cea3-51ff-4998-8160-5caabe74d5d4"
    preset="like-dislike"
    layout="reveal-message"
    title="Was this page helpful?"
  />
</div>

<style is:global>
    .feelback-container {
        /* margin: 0 auto 3rem; */
        --max-width: 400px !important;
    }

    .feelback-container [data-feelback-type="button-group"] .feelback-btn {
        border-radius: 100%;
    }

    .feelback-container
        [data-feelback-type="button-group"]
        .feelback-btn.active {
        color: var(--sl-color-text-invert);
        background-color: var(--sl-color-text-accent);
    }

    .feelback-container textarea,
    .feelback-container input[type="text"],
    .feelback-container input[type="email"] {
        border-radius: 0.5rem;
        border: 1px solid var(--sl-color-gray-5);
    }

    .feelback-container textarea:hover,
    .feelback-container input[type="text"]:hover,
    .feelback-container input[type="email"]:hover {
        border: 1px solid var(--sl-color-gray-2);
    }

    .feelback-container .feelback-btn[type="submit"] {
        border-radius: 0.5rem;
        padding: 1.25rem 2rem;
        color: var(--sl-color-text-invert);
        background-color: var(--sl-color-text-accent);
        font-weight: bold;
    }
    .feelback-container .feelback-btn[type="submit"]:hover {
        background-color: var(--sl-color-gray-2);
    }
</style>